<!--<form (ngSubmit)="onSubmit()">
    <label> Name: <input type="text" [(ngModel)]="name" name="name" required>
    </label>
    <br>
    <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
    </label>
    <br>
    <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="main-content">
    <h3 style="text-align: center;">REGISTRAION FORM</h3>
    <div class="container" style="width: 500px;">
    <form>
      <label>Name :</label>
      <input type="text" class="form-control">
      <br>
      <label>Email ID:</label>
      <input type="text" class="form-control">
      <br>
      <label>Mobile Number :</label>
      <input type="text" class="form-control">
      <br>
      <label>Choice of Field :</label>
      <input type="text" class="form-control">
      <br>
      <label>Choice of Company :</label>
      <input type="text" class="form-control">
      <br>
    
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  </div>

